body {
	background-color: ; /* dark gray background */
	
	background-image: linear-gradient(to left bottom ,aliceblue,#eff5ce);

	color: #D1D5DB;
	font-family: Arial, sans-serif;

  }
  
  
  #mybody {
	margin:0 ;
	display: block;
	width: 100%;
    justify-content: center;
	height: fit-content;
	top: 0%;

  }
  
  .messages {
	margin: auto;

	background-image: -o-repeating-linear-gradient(to left top ,rgb(245, 112, 3),yellow);

	border-radius: 5px;
	padding: 20px;
	width: 85%;
	max-width: 600px;
	height: fit-content;
	max-height: 700px;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	margin-top:5%;
	margin-bottom: 5%;
	font-size: 20px;
	border: 2px solid black;

  }
  
  #logo {
	display: flex;
	align-items: center;
	justify-content: space-around;    	
	margin-bottom: 20px;
	width:100%;
	height:70px;
	margin-left: -5%;
	font-size:small;
	color: rgb(5, 70, 70);

  }
  .loading{
	display: none;
  }
  form{
	background: inherit;
	margin: 0 auto;
	color: aqua;
	font-weight: bold;
	font-family: 'Courier

  }
  #logo img {
	width: 50px;
	height: 80px;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 10px;
  }
  
  #mssgCntnts {
	margin-bottom: 20px;
	color: aqua;

  }
  #mssgCntnts :first-child {
	text-indent: 3%;
	width: 100%;
	display: inline-blocks;
	height:fit-content;
	max-height: 500px;
	line-height: 30px;
	text-align: center;
	overflow-wrap: break-word;
	overflow-y: scroll;
	color:black;
  }
  #time{
	color:black;
	text-align: center;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .reactCon {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;
  }
  
  .reactions {
	background-color:orangered;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	display: flex;
	flex-direction:row;
	align-items: center;
	justify-content: space-between;

	font-size: 15px;
	gap: 5px;

	transition: background-color 0.3s ease;
  }
  
  .reactions:hover {
	background-color: rgb(7, 129, 129);
  }
  
  .reactions p {
	margin: 0;
	border: 2px solid white;

  }
  
  #bodCon {
	margin-top: 50px;
  }
  
  #data {
	display: none;
  }
