    <head>
        <link rel="stylesheet" href="/anon/public/css/nav.css">
        <style>
            body{

            }
        </style>
    </head>
    <header>
        <nav>
            <ul>
                <li><a href="#"><i class="bi bi-info-circle"></i> About</a></li>
                <li><a href="#"><i class="bi bi-question-circle"></i> FAQ</a></li>
                <li><a href="#"><i class="bi bi-envelope"></i> Contact</a></li>
            </ul>
        </nav>
    </header>