#prevMesgCon{
    background-color: blue;
    border-radius:20%;
    width:90%;
    height:30px;
    line-height: 30px;
    max-width: 300px;
    text-align: center;
    margin: 0 auto ;
 padding: 0 auto;
    color:white;
    
}