<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="css/signup.css">

</head>
<body>
    <div id = "welcomeCon">
        
          <div class="message" id = "firstMsg">
             <h3>Hello there</h3>
            
                 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non magnam autem suscipit voluptas id ex, neque hic eius, adipisci praesentium consectetur debitis rerum. Illum a inventore, nam dicta officiis eligendi!

                 </p>
        <p><a href="#container"> SIGNUP NOW  </a></p>

          </div>
         <div class="message" id = "secondMsg" >
            <h3>Hello there</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore officia quae 
        ut vitae, beatae quibusdam iusto amet 
        fuga veritatis fugiat. Magni maxime commodi voluptates libero dignissimos ipsam nihil cupiditate aliquam!
             </p>
        <p><a href="#container"> SIGNUP NOW  </a></p>
    
         </div>
    </div>
  
    <div class="container" id="container">
     
        <div id="head">
            <h1        <p>Sign up to start <i class="bi bi-smile"></i></p>
            </h1>
        </div>
        <form method="POST" action="signup">
            <div class="form-inp">
                <p>Username</p>
                <input type="text" id="username" name="name" required>
            </div>
            <div class="form-inp">
                <p>Password</p>
                <input  oninput=passVal(this) type="password" id="password" name="pword" required>
            </div>
            <div id "ValidCon">
                <p id="passValid">Must contain 6 characters which must include alphabets and numbers</p>
            </div>
            <button type="submit">Sign Up</button>
        </form>
        <div id="messgCon">
       
            {{#if message}}
                {{message}}
            {{/if}}
                <p> Already have an account?  <a href="/anon/login">   Login now <i class="bi bi-arrow-right"></i></a></p>
            
        </div>
    </div>
</body>
<script>
    const passwordRegex = /^(?=.*[a-zA-Z])(?=.*[0-9]).{6,}$/;
 let submitButton = document.getElementById("submit");
 
 function passVal(e) {
     var password = e.value;
     if (passwordRegex.test(password)) {
         document.getElementById("passValid").style.color = "#93c094";
         submitButton.disabled = false; // enable the submit button
     } else {
         document.getElementById("passValid").style.color = "red";
         submitButton.disabled = true; // disable the submit button
     }
 }
 
 </script>
</html>